langchain
langchain-openai
langchain-community
langchain-text-splitters
faiss-cpu
transformers
torch
langchain-huggingface
sentence-transformers
pytesseract
pillow

langchain_community
langchain_huggingface

pdf2image
pytesseract
pypdf